*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
!/FingerprintIdentifyLib/src/main/java/com/wei/android/lib/fingerprintidentify/aosp/FingerprintManagerCompat.java
